node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node

# OpenZeppelin Hardhat Upgrades - proxy upgrade tracking (local only)
.openzeppelin
deployments
ignition/deployments/*